/* ----- Layout ----- */

header {
    display: block;
    height: 10vh;
    width: 95vw;
    margin: 0 auto;
}

header h1 {
    float: right;
    margin-top: 0;
    margin-bottom: 0px;
}

nav ul {
    padding-left: 0;
    margin: 5px 0;
}

nav li {
    display: inline-block;
    padding-right: 5px;
}

header p {
    text-align: right;
    margin: 0;
    margin-top: -8px;
}

.game header p {
    margin-top: 20px;
}

main {
    display: inline-block;
    height: 80vh;
}

img {
    width: 100%;
    height: auto;
}

footer {
    width: 100vw;
}

footer ul {
    display: block;
    list-style: none;
    width:100%;
}

footer ul li {
    display: inline-block;
    min-width: 15vw;
}


/* -------------- Splash Screens ------------ */

.splash {
    position: absolute;
    width: 100vw;
    height: 80vh;
    background-color: white;
    top: 10vh;
    text-align: center;
}

.splash button{
   margin-top: 1em;
}

.hidden {
    display: none;
}

.button-container{
    width: 40vw;
    margin: 5vh auto 0 auto;
}

.button-container.start{
    width: 20vw;
    margin: 30vh auto 0 auto;
}

.table-container{
    width: 40vw;
    margin: 10vh auto 0 auto;
}

.table-container h3 {
    margin-top: 2em;
}

.table-container table{
    margin: 2vh auto 0 auto;
}

/* ----- Demo 1 ----- */

.demo main {
    width: 95%;
    margin: 0 2.5vw;
    margin-top: 10vh;
    text-align: center;
}

.demo #bird-data {
    display: inline-block;
    text-align: left;
    width: 38%;
    padding-left: 2%;
    word-break: break-all;
}

.demo #bird-image-container {
    height: 70vh;
    width:60%;
    float: right;
}

.demo img {
    width: auto;
    max-width: 90%;
    max-height: 100%;
}



/* ----- Flock Fortunes Game ----- */

.fortunes .wrapper {
    text-align: center;
}

/* Team scores on the left and right of the game board */

.fortunes aside{
    display: inline-block;
    height: 70vh;
    width: 18vw;
    text-align: center;
}

.fortunes aside h2 {
    padding-top: 10vh;
    margin-bottom: 0;
}

.fortunes aside ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 10vh;
}

.fortunes aside li {
    padding-top: 10vh;
}

.fortunes #team-1 {
    padding-bottom: 12px;
    padding-left: 7px;
}

.fortunes #team-2 {
    padding-bottom: 12px;
    padding-right: 7px;
}

.fortunes #team-1.active {
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    padding-bottom: 9px;
    padding-left: 4px;
}

.fortunes #team-2.active {
    border-bottom: 3px solid blue;
    border-right: 3px solid blue;
    padding-bottom: 9px;
    padding-right: 4px;
}


/* The main game board which will show the answers by the end of the game */

.fortunes main {
    vertical-align: top;
    width: 55vw;
    text-align: center;
    font-size: larger;
}

.fortunes #game-board {
    padding-top: 22vh;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .fortunes #game-board {
        width: 40vw;
    }
  }


  /* ----- Play Your Cards Right Game ----- */

.cards main {
    width: 100vw;
}

.cards .team-panel {
    text-align: center;
    display: inline-block;
    height: 37vh;
    width: 95%;
    padding-bottom: 12px;
    padding-left: 7px;
    margin-bottom: 12px;
    margin-left: 2.5vw;
}

.cards .team-name {
    display: inline-block;
    width: 0vw;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: large;
}

.cards #team-1.active {
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    padding-bottom: 9px;
    padding-left: 4px;
}

.cards #team-2.active {
    border-bottom: 3px solid blue;
    border-left: 3px solid blue;
    padding-bottom: 9px;
    padding-left: 4px;
}

.cards .card-holder {
    display: inline-block;
    width: 18%;
    height: 100%;
    vertical-align: top;
    border: 1px solid red;
}

.cards #team-2 .card-holder {
    border: 1px solid blue;
}


.cards .card-holder img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.cards .card-holder h2 {
    margin: 10px 0;
}

.cards .card-holder span {
    font-size: large;
    font-weight: bold;
}
