/* ----- Layout ----- */

header {
    display: block;
    height: 10vh;
    width: 100vw;
}

header h1 {
    float: right;
    margin-right: 6px;
}

footer {
    width: 100vw;
}

footer ul {
    display: block;
    list-style: none;
    width:100%;
}

footer ul li {
    display: inline-block;
    min-width: 15vw;
}

.blink {
    animation: blinker 1s infinite;
    text-decoration: underline;
}
  
@keyframes blinker {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}


/* ----- Flock Fortunes Game ----- */

/* Team scores on the left and right of the game board */

.fortunes aside{
    display: inline-block;
    height: 70vh;
    width: 18vw;
    text-align: center;
}

.fortunes aside h2 {
    padding-top: 10vh;
    margin-bottom: 0;
}

.fortunes aside ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 10vh;
}

.fortunes aside li {
    padding-top: 10vh;
}


/* The main game board which will show the answers by the end of the game */

.fortunes main {
    display: inline-block;
    vertical-align: top;
    height: 80vh;
    width: 60vw;
    text-align: center;
}

.fortunes #game-board {
    padding-top: 22vh;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .fortunes #game-board {
        width: 40vw;
    }
  }


  /* ----- Play Your Cards Right Game ----- */

.cards h1{
    margin-top: 0;
    margin-bottom: 15px;
}

.cards main {
    display: inline-block;
    height: 80vh;
    width: 100vw;
}

.cards .team-panel {
    text-align: center;
    display: inline-block;
    height: 37vh;
    width: 95%;
    padding-bottom: 12px;
    padding-left: 7px;
    margin-bottom: 12px;
    margin-left: 2.5vw;
}

.cards #team-1.active {
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    padding-bottom: 9px;
    padding-left: 4px;
}

.cards #team-2.active {
    border-bottom: 3px solid blue;
    border-left: 3px solid blue;
    padding-bottom: 9px;
    padding-left: 4px;
}



.cards .card-holder {
    display: inline-block;
    width: 19%;
    height: 100%;
    vertical-align: top;
    border: 1px solid red;
}

.cards .card-holder img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.cards .card-holder h2 {
    margin: 10px 0;
}

.cards .card-holder span {
    font-size: large;
    font-weight: bold;
}
