/* ----- Layout ----- */

header {
    display: block;
    height: 10vh;
    width: 100vw;
}

footer {
    width: 100vw;
}

footer ul {
    display: block;
    list-style: none;
    width:100%;
}

footer ul li {
    display: inline-block;
    min-width: 20vw;
}


/* ----- Flock Fortunes Game ----- */

/* Team scores on the left and right of the game board */

.fortunes aside{
    display: inline-block;
    height: 70vh;
    width: 18vw;
    text-align: center;
}

.fortunes aside h2 {
    padding-top: 10vh;
    margin-bottom: 0;
}

.fortunes aside ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 10vh;
}

.fortunes aside li {
    padding-top: 10vh;
}


/* The main game board which will show the answers by the end of the game */

.fortunes main {
    display: inline-block;
    vertical-align: top;
    height: 80vh;
    width: 60vw;
    text-align: center;
}

.fortunes #game-board {
    padding-top: 22vh;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .fortunes #game-board {
        width: 40vw;
    }
  }
